@model List<AlbumsViewModel>
@{
    ViewBag.Title = "Music Store";
}

<h2>Albums in Music Store</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.DisplayNameFor(model=>model.FirstOrDefault().AlbumTitle)
            </div>
            <div class="panel-body">
                @foreach(var album in Model)
                {
                    <div>@album.AlbumTitle</div>
                }
            </div>
        </div>
    </div>
</div>

