<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <appSettings>
    <add key="WebsiteRootUrl" value="http://localhost:57522/"/>
    <add key="WebsitePostfix" value=" - Bonbonniere"/>
    <add key="Browser" value="Chrome"/>
    <add key="BrowserLanguage" value="zh-cn"/><!--//zh-cn, en-us-->
  </appSettings>
</configuration>