@model List<Bonbonniere.Website.Features.MusicStore.AlbumsViewModel>
@{
    ViewBag.Title = "Music Store";
}

<h2>Albums in Music Store</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-9">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var album in Model)
                {
                    <tr>
                        <td>@album.AlbumTitle</td>
                        <td>@album.AlbumPrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

